<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>amazoning</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">amazoning</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">SignIn</a>
            </div>
        </header>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
            </ul>
        </main>
        <footer class="row center">A production by Ankush Sharm @ ScorchingShade</footer>
    </div>
</body>

</html>